/* style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  font-family: 'Arial', sans-serif;
  background-color: #1d1d1d;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
}

footer {
  background-color: #534242;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#sourceSelectPanel {
  margin: 1rem 0;
}

blockquote {
  background-color: #e7e7e7;
  border-left: 10px solid #ccc;
  margin: 1.5rem 10px;
  padding: 0.5rem 10px;
}

label {
  font-weight: bold;
}

select, input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
} */